<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0D0D0D; border-bottom: 2px solid #C5A059;">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="/">
      <img src="/assets/logo.png" width="60" height="60" class="d-inline-block align-top me-2" alt="Logo">
      <div class="d-flex flex-column">
        <span style="font-family: 'Montserrat', sans-serif; font-weight: 700; color: #FFFFFF; letter-spacing: 1px; line-height: 1;">
          JOHNNY
        </span>
        <span style="font-family: 'Montserrat', sans-serif; font-size: 0.7em; color: #C5A059; font-weight: 400;">
          BARBER SHOP
        </span>
      </div>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto align-items-center">
        <li class="nav-item">
          <a class="nav-link text-white px-3" href="/">Início</a>
        </li>
         <li class="nav-item">
          <a class="nav-link text-white px-3" href="#servicos">Serviços</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white px-3" href="#sobre">Sobre Nós</a>
        </li>
      </ul>

      <div class="d-flex align-items-center">
        <a class="btn" href="/login" style="background-color: #C5A059; color: #0D0D0D; font-weight: 600; border-radius: 0; padding: 8px 25px;">
          ÁREA VIP
        </a>
      </div>
    </div>
  </div>
</nav>